<div class="col-lg-8" *ngIf="animal" [@fade_fx]>
	<h3>{{ title }}</h3>

	<div class="col-sm-10">
	<form #formCreateAnimal="ngForm" (submit)="onSubmit()" enctype="multipart/form-data">
		<p>
			<label>Nombre</label>
			<input type="text" #name="ngModel" name="name" [(ngModel)]="animal.name" class="form-control" required/>
			<span *ngIf="!name.valid && name.touched">Campo obligatorio</span>
		</p>
		<p>
			<label>Descripción</label>
			<textarea name="description" #description="ngModel" [(ngModel)]="animal.description" class="form-control"></textarea>
		</p>
		<p>
			<label>Origen</label>
			<input type="text" name="origin" #origin="ngModel" [(ngModel)]="animal.origin" class="form-control" required/>
			<span *ngIf="!origin.valid && origin.touched">Campo origen obligatorio</span>
		</p>
		<p>
			<label>Año</label>
			<input type="text" name="year" #year="ngModel" [(ngModel)]="animal.year" class="form-control" required/>
			<span *ngIf="!year.valid && year.touched">Campo año obligatorio</span>
		</p>

		<div *ngIf="animal.image" class="col-sm-6">
			<img src="{{ url + '/animal/photo/' + animal.image }}" class="img-fluid">
		</div>

		<br>
		<p>
			<input type="file" name="files" placeholder="Imagen" (change)="updateFiles($event)">
		</p>
		<p>
			<button class="btn btn-success">{{ title }}</button>
		</p>
	</form>
	</div>
</div>