<h3 [@fade_fx]>{{ title }}</h3>

<div class="row" [@fade_fx]>
	<div class="col-sm-2">Filtrar</div>
	<div class="col-sm-5">
		<input type="text" [(ngModel)]="search" />
	</div>
	<div class="label" *ngIf="search">
		Buscar <strong>{{ search }}</strong> ...
	</div>
</div>

<hr>

<ul *ngIf="animals" [@fade_fx]>
	<li *ngFor="let animal of animals | search: search" class="clearfix list-unstyled" style="line-height: 3rem;">
		<div class="animal-row">{{ animal.name }}</div>
		<a href="#confirm-{{animal._id}}" role="button" data-toggle="modal" class="btn btn-danger float-right" style="margin-left: 1rem;">Eliminar</a>
		<a [routerLink]="['/admin/edit', animal._id]" class="btn btn-warning float-right" style="margin-left: 1rem;">Editar</a>
		<a [routerLink]="['/admin/animal', animal._id]" class="btn btn-light float-right" style="margin-left: 1rem;">Ver</a>

		<div id="confirm-{{animal._id}}" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="confirmation">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirm delete</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Haga click si quiere borrar el animal <strong>{{ animal.name }}</strong>?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary" (click)="deleteAnimal(animal._id)">Borrar</button>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>