html, body
{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

#logo
{
	width: 10rem;
	height: 10rem;
}

#navbar
{
	margin: 0;
	background-color: #527D27;
}

.nav-link
{
	background-color: #336600;
	color: white;
}

.nav-link:hover
{
	background-color: darkgrey;
	color: white;
}

.nav-center
{
	text-align: center;
}



.nav-right
{
	text-align: right;
}

#header
{
	color: #fff;
	text-shadow: 2px 2px #284E8D;
	font-size: 50px;
	margin: 0;
	padding: 2rem;
	background: url("../images/banner-header.jpg");
	background-position: center;
}

#footer
{
	margin: 10% 0 0 0;
	padding: 1em;
	background-color: #336600;
	color: white;
	text-align: center;
}

#jumbotron
{
	margin-top: 3rem;
	padding: 1em;
	background-color: #336600;
	color: white;
}

h1 {
	margin-top: 1em;
	color: #284E8D;
}

#jumbotron>h1
{
	color: white;
}

#buttons
{
	margin-top: 4rem;
}

#buttons > .btn
{
	margin: 1rem;
	padding: .8rem;
}

.margin-1
{
	float: left;
}

.margin-3
{
	float: right;
}

.margin-7
{
	margin-top: 3rem !important;
	margin-left: 3rem !important;
}

.profile-picture-holder
{
	width: 3rem;
	height: 3rem;
	margin-top: .1rem;
	padding: 0;
	display: inline-block;
}

.profile-picture
{
	width: 3rem;
	height: 3rem;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
}

.active
{
	background-color: #336600 !important;
}

.inactive
{
	background: none !important;
	color: gray !important;
}

.btn, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
{
	border: none !important;
	outline: none !important;
	outline-width: 0 !important;
	outline-style: none !important;
	outline-color: transparent !important;
	box-shadow: none !important;
}

.btn-invis, .btn-invis:link
{
	background: none;
	color: white !important;
}

.btn-invis:hover
{
	background: none;
	color: #ffbb33;
}

.btn-primary, .btn-primary:link
{
	background-color: #336600;
}

.btn-primary:hover
{
	background-color: #4b749c;
}

.animal-row {
	background-color: #efefef; 
	margin-bottom: 8px; 
	padding: 0.2em;
	padding-left: 1em; 
	float: left; 
	width: 200px;
	font-weight: bold;
}

#gest_animals, #gest_keepers {
	padding: 0.4em; display: inline-block;

}

#gest_animals.active, #gest_keepers.active {
    color:#fff;;
}