<h1 [@fade_fx]>{{ title }}</h1>

<div [@fade_fx] class="card-columns" *ngIf="animals">
	
		<div class="card" *ngFor="let animal of animals"  style="float: left; width: 33%; text-align: center; border: 0px;">
			<div class="card-body">
				<h5 class="card-title">
					<a routerLink="/animals-details/{{ animal._id }}">	
					   {{ animal.name }} de {{ animal.origin }}
					   <img style=" width: 200px; height: 200px; margin: auto;margin-top: 10px;" class="card-img-top" src="{{ url + '/animal/photo/' + animal.image }}" *ngIf="animal.image">
				    </a>
				</h5>
				<p class="card-text">Cuidador: {{ animal.keeper.name }} | Año Nacimiento:{{ animal.year }}</p>
			</div>
		<br />
		</div>
</div>