<h1 [@fade_fx]>{{ title }}</h1>

<div [@fade_fx] class="card-columns" *ngIf="keepers">
	
	<a routerLink="['/keeper', keeper._id]">
		<div class="card" *ngFor="let keeper of keepers">
			<img class="card-img-top" src="{{ url + '/user/photo/' + keeper.image }}" *ngIf="keeper.image">
			<div class="card-body" style="color: white;background-color: #336600">
				<h4 class="card-title">{{ keeper.name }} {{ keeper.surname }}</h4>
				<p class="card-text">Conoce nuestros cuidadores</p>
			</div>
		</div>
	</a>
	
</div>