<div id="header" class="col-sm-12">
	NGZOO
</div>

<nav id="navbar" class="navbar col-sm-12">
	<div class="nav-left col-sm-6 offset-1">
		<a class="btn btn-primary" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
		<a class="btn btn-primary" [routerLink]="['/animals']" [routerLinkActive]="['active']">Animales</a>
		<a class="btn btn-primary" [routerLink]="['/keepers']" [routerLinkActive]="['active']">Cuidadores</a>
		<a class="btn btn-primary" [routerLink]="['/store']" [routerLinkActive]="['active']">Tienda</a>
		<a class="btn btn-primary" [routerLink]="['/contact']" [routerLinkActive]="['active']">Contacto</a>
	</div>
	<div class="nav-right offset-1 col-sm-1" *ngIf="!identity">
		<a class="btn btn-invis" [routerLink]="['/register']" [routerLinkActive]="['inactive']">Registrarte</a>
		<a class="btn btn-invis" [routerLink]="['/login']" [routerLinkActive]="['inactive']">Login</a>
	</div>

	<div class="nav-right col-sm-4" *ngIf="identity">
		<div class="profile-picture-holder" *ngIf="identity.image">
			<img src="{{ url + '/user/photo/' + identity.image }}" class="profile-picture img-fluid">
		</div>
		<a class="btn btn-invis" [routerLink]="['/profile']">{{ identity.name }} {{ identity.surname }}</a>
		<a *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-invis" [routerLink]="['/admin']" [routerLinkActive]="['inactive']">::Gestionar::</a>
		<a class="btn btn-invis" (click)="logout()" [routerLinkActive]="['inactive']">Logout</a>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>

<div id="footer" class="col-sm-12">
	<footer>{{ copyright }}</footer>
</div>