<div id="contact" class="col-lg-8">

	<h1>{{ title }}</h1>

<form>
	
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="inputName4">Su nombre</label>
			<input type="text" class="form-control" id="inputName4" placeholder="Nombre">
		</div>
		<div class="form-group col-md-6">
			<label for="inputEmail4">Email</label>
			<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
		</div>
	</div>

	<div class="form-group">
		<label for="inputAddress">Dirección</label>
		<input type="text" class="form-control" id="inputAddress" placeholder="Dirección">
	</div>
	
	<div class="form-group">
		<label for="inputAddress2">Dirección 2</label>
		<input type="text" class="form-control" id="inputAddress2" placeholder="">
	</div>
	
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="inputCity">Ciudad</label>
			<input type="text" class="form-control" id="inputCity">
		</div>
		<div class="form-group col-md-4">
			<label for="inputState">Provincia</label>
			<select id="inputState" class="form-control">
				<option selected>Escoja...</option>
				<option>...</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<label for="inputZip">Zip</label>
			<input type="text" class="form-control" id="inputZip">
		</div>
	</div>
	
	<div class="form-group">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="gridCheck">
			<label class="form-check-label" for="gridCheck">
				Suscríbete a nuestra newsletter
			</label>
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Enviar</button>
</form>

</div>