<div class="col-sm-3 offset-1 float-left">
	<br />
	<h3>{{ title }}</h3>

	<div id="gest_links" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		
		<a id="gest_animals"
		   [routerLink]="['create']" [routerLinkActive]="['active']" >Añadir animales</a>
		
		<a id="gest_keepers"
		   [routerLink]="['list']" [routerLinkActive]="['active']">Lista animales</a>


	</div>
</div>

<div class="col-sm-8">
	<router-outlet></router-outlet>
</div>