
<h1 [@fade_fx]>{{ title }}</h1>
<ul *ngIf="animal">
	<li class="clearfix list-unstyled" style="line-height: 3rem;">
		{{ animal.name }} de  <strong>{{ animal.origin }}</strong>
		<div *ngIf="animal.image && animal.image != null" class="col-sm-6">
			<img src="{{ url + '/animal/photo/' + animal.image }}" class="img-fluid">
		</div>
		<strong>Cuidador:</strong> {{ animal.keeper.name }} @ {{ animal.year }}
	</li>
</ul>