<div class="col-sm-10 offset-1" [@fade_fx]>
	<div class="jumbotron" id="jumbotron">
		<h1>{{ title }}</h1>
		<p>{{ slogan }}</p>

		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="../assets/images/Gran Zoo_.jpg">
					<div class="carousel-caption d-none d-md-block">
						<a class="btn btn-warning margin-1" [routerLink]="['/animals']">{{ know_our_animals }}</a>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="../assets/images/banner1.jpg">
					<div class="carousel-caption d-none d-md-block">
						<a class="btn btn-warning margin-3" [routerLink]="['/contact']">{{ contact_us }}</a>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="../assets/images/banner2.jpg">
					<div class="carousel-caption d-none d-md-block">
						<a class="btn btn-warning margin-7" [routerLink]="['/keeper']">{{ meet_our_keepers }}</a>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="../assets/images/banner3.jpg">
					<div class="carousel-caption d-none d-md-block">
						<a class="btn btn-warning margin-7" [routerLink]="['/tienda']">Tienda</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>