<div class="col-sm-10 offset-1" [@fade_fx]>
	<div class="jumbotron" id="jumbotron">
		<h1>{{ title }}</h1>

		<div class="col-sm-8" *ngIf="status != 'error'">
			<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-sm-6">
				<p><label>E-mail</label>
					<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
					<span *ngIf="!email.valid && email.touched">Campo obligatorio</span>
				</p>
				<p><label>Contraseña</label>
					<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
					<span *ngIf="!password.valid && password.touched">Campo obligatorio</span>
				</p>
				<button class="btn btn-success" [disabled]="!loginForm.valid">Login</button>
			</form>
		</div>

		<div class="clearfix"></div>
		<br>

		<div class="col-sm-8 bg-danger modal-body" *ngIf="status == 'error'">
			<h3>Oops! Something went wrong...</h3>
			<p>{{ this.message }}</p>

			<button (click)="status = 'reset'" class="btn btn-primary">Back</button>
		</div>

		<div class="col-sm-8 bg-success modal-body" *ngIf="status == 'success'">
			<p>{{ this.message }}</p>
		</div>
	</div>
</div>