<div class="col-sm-10 offset-1" [@fade_fx]>
	<div class="jumbotron" id="jumbotron">
		<h1>{{ title }}</h1>

		<div class="col-sm-8" *ngIf="status != 'error'">
			<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-sm-6">
				<p><label>Nombre</label>
					<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required>
					<span *ngIf="!name.valid && name.touched">Campo obligatorio</span>
				</p>
				<p><label>Apellidos</label>
					<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required>
					<span *ngIf="!surname.valid && surname.touched">Campo obligatorio</span>
				</p>
				<p><label>E-mail</label>
					<input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
					<span *ngIf="!email.valid && email.touched">Campo obligatorio</span>
				</p>
				<p><label>Contraseña</label>
					<input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
					<span *ngIf="!password.valid && password.touched">Campo obligatorio</span>
				</p>
				<p><label>Role</label>
					<select name="role" #role="ngModel" [(ngModel)]="user.role">
						<option value="ROLE_USER">Usuario</option>
						<option value="ROLE_KEEPER">Cuidador</option>
						<option value="ROLE_ADMIN">Administrador</option>
					</select>
				</p>
				<button class="btn btn-success" [disabled]="!registerForm.valid">Regístrate</button>
			</form>
		</div>

		<div class="clearfix"></div>
		<br>

		<div class="col-sm-8 bg-danger modal-body" *ngIf="status == 'error'">
			<h3>No se ha podido registrar...</h3>
			<p>{{ this.message }}</p>

			<button (click)="status = 'reset'" class="btn btn-primary">Volver</button>
		</div>

		<div class="col-sm-8 bg-success modal-body" *ngIf="status == 'success'">
			<p>{{ this.message }}</p>
		</div>
	</div>
</div>